$color-gray: #4F4F4F;
$color-black: #333333;
$color-white: #F2F2F2;
$color-pink: #FB8EFD;
$color-yellow: #FFD189;
$color-red: #EB8982;
$color-red-dark: #F90E1F;
$color-green: #27B68B;
$color-smoke: #EDE6D4;